.wrapper {
  width: 100%;
  height: 100%;
  padding: 32px 0;
}

.wrapper__inner {
  max-width: 950px;
  padding: 80px;
  margin: 0 auto;
  background: white;
  box-shadow: 5px 10px 30px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.wrapper__inner > p {
  text-indent: 3rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
  font-family: 'Spectral', serif;
  font-size: 1.1rem;
  color: black;
}

@media (max-width: 654px) {
  .wrapper__inner {
    width: 554px;
    padding: 48px 46px;
  }
}

@media (max-width: 553px) {
  .wrapper__inner {
    width: 100%;
    padding: 48px 42px;
  }
}
