.wrapper {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 5px 0 0 0;
  margin-bottom: 17px;
}

.bar {
  display: inline-block;
  position: absolute;
  width: 46px;
  height: 5px;
  background-color: var(--black);
  border-radius: 2px;
}

.topBar {
  width: 46px;
  top: 14px;
  left: 7.5px;
}

.topBar.closeBar {
  animation-name: toTopCloseBar;
  animation-duration: 0.3s;
  transform: rotate(45deg);
  top: 30px;
}

.topBar.openBar {
  animation-name: toTopOpenBar;
  animation-duration: 0.6s;
}

@keyframes toTopCloseBar {
  0% {
    top: 14px;
    transform: rotate(0);
  }
  50% {
    top: 30px;
    transform: rotate(0);
  }
  100% {
    top: 30px;
    transform: rotate(45deg);
  }
}

@keyframes toTopOpenBar {
  0% {
    top: 30px;
    transform: rotate(45deg);
  }
  50% {
    top: 30px;
    opacity: 1;
    transform: rotate(45deg);
  }
  51% {
    top: 14px;
    opacity: 0;
    transform: rotate(0);
  }
  100% {
    top: 14px;
    transform: rotate(0);
    opacity: 1;
  }
}

.middleBar {
  width: 46px;
  top: 30px;
  left: 7.5px;
}

.middleBar.closeBar {
  animation-name: toMiddleCloseBar;
  animation-duration: 0.3s;
  transform: rotate(-45deg);
}

.middleBar.openBar {
  animation-name: toMiddleOpenBar;
  animation-duration: 0.6s;
}

@keyframes toMiddleCloseBar {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes toMiddleOpenBar {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  51% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bottomBar {
  width: 30px;
  top: 46px;
  left: 15px;
}

.bottomBar.closeBar {
  animation-name: toBottomCloseBar;
  animation-duration: 0.3s;
  opacity: 0;
}

.bottomBar.openBar {
  animation-name: toBottomOpenBar;
  animation-duration: 0.6s;
}

@keyframes toBottomCloseBar {
  0% {
    top: 46px;
    opacity: 100%;
  }
  50% {
    top: 30px;
    opacity: 100%;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@keyframes toBottomOpenBar {
  0% {
    top: 30px;
    opacity: 0;
  }
  50% {
    top: 30px;
    opacity: 0;
  }
  51% {
    top: 46px;
    opacity: 0;
  }
  100% {
    top: 46px;
    opacity: 1;
  }
}
